div {
  width: 420px;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
}

p {
  margin: 0;
  font-size: 0;
  line-height: 0;
}

span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

span.wall {
  background: #999;
}

span.gold {
  background: #fa0;
}
span.road {
  background: none;
}
span.start {
  background: red;
}

span.minos {
  background-color: greenyellow;
}